<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">

    <menu>
        <!-- Override Customer Groups menu label -->
        <update id="Magento_Customer::customer_group" title="Manage Company" sortOrder="20"/>
    </menu>
</config>
