<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <type name="Magento\Customer\Api\GroupRepositoryInterface">
        <plugin name="ime_customer_group_label_plugin" type="Ime\CustomerGroupLabel\Plugin\AfterSaveGroup" />
                
    </type>
   
</config>
