<!-- <div class="free-shipping-info" data-bind="visible: showFreeShippingInfo()" style="display: none;">
   <div class="step-title" data-role="title" data-bind="i18n: 'Free Shipping Shipping Methods'"></div>
   <p class="desc" data-bind="i18n: 'Here add custom Free shipping text..'"></p>
</div> -->
<div class="table-rate-shipping-info" data-bind="visible: showTableRateShippingInfo()" style="display: none;">
   <div class="flat-rate-message">
            <p style="color:#FF0000; font-weight:bold;">UPS charges are calculated at the time your order ships from our warehouse.
These charges will appear on your final invoice which is mailed/emailed to you after your order ships.</p>
<p style="color:#FF0000; font-weight:bold;">If you want to expedite your shipment via UPS Next Day Air or UPS 2nd Day
Air then please note in the Special Instructions section at time of checkout. We are also able to ship UPS Collect on your account.</p>
        </div>
</div>